<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saúde</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="header">
    <div class="container">
        <h1 class="text-white">Consulta de Informações Pandemia</h1>
    </div>
</div>
    <div class="container-form container mt-4">
        <form id="healthDataForm">
            <div class="autocomplete">
                <div class="pesquisa">
                    <input type="text" id="countryName" name="country_name" placeholder="Digite o nome do país em Ingles" required style="width:500px; border: none;">
                    <button type="button" class="btn btn-primary" onclick="getHealthData()">Consultar</button>
                </div>
            </div>
        </form>
    </div>

<div class="container mt-5">
  <h1>Resultado dos dados das APIs</h1>
    <div id="healthDataResult"></div> 
    </div>
</div>

<div class="container-news container mt-5">
    <h1>Notícias sobre COVID-19</h1>
    <div class="linha-1">
        {% for article in articles %}
        <a href="{{ article.url }}" target="_blank"><div class="card_by">
            <img src="{{ article.urlToImage }}" alt="{{ article.title }}">
            <p>{{ article.title }}</p>
        </div></a>
    {% endfor %}

    </div>
</div>

<script src="static/script.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
